{% extends 'blog/base.html' %}
{% block title %}
    {% if request.user %}
        {{user}}'s Blog
    {% endif %}
{% endblock %}
{% block content %}

{% if tag %}
    <h2>Posts tagged with "{{tag.name}}"</h2>
{% endif %}
{% for post in posts %}    
<div class = "well">
        <div class = "media-body">
                <div class="post">
                    <div class="date">
                        <p>published: {{ post.published_date }}</p>
                    </div>
               
                    <h1 class = "media-heading"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                    <p class = "tags">Tags: {{ post.tags.all|join:", " }}</p>
                    <p class = "text-right">{{post.author}}</p>
                    <p>{{ post.text| truncatewords:30 | linebreaksbr }}</p>
                </div>
          </div>        
</div>
{% endfor %}
{% include "pagination.html" with page=posts %}
{% endblock %}
