{% extends 'blog/base.html' %}
{% block title %}
  {% if post.title %}
    {{post.title}}
  {% endif %}
{% endblock %}
{% block content %}
  <div class="post">
    {% if post.published_date %}
      <div class="date">
        {{ post.published_date }}
      </div>
    {% endif %}
    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="far fa-edit"></span></a>
    <h1>{{ post.title }}</h1>
    <p>{{ post.text|linebreaksbr }}</p> 
  </div>
  <br>
  <div class = "share_post">
    <a href="{% url 'post_share' pk=post.pk %}" class = "btn btn-primary">Share this post</a>
  </div>
  <br>  
  <div class = "display_comments">
    {% for comment in comments %}
      <br>
      <br>
      {{comment}}
    {% endfor %}
  </div>
  <br>
  <br>
  <div class = "add_new_comment"> 
    {% if new_comment %}
      
      <h2>Your comment has been added.</h2>
    
    {% else %}
    
      <h2>Add a new comment</h2>
      <form action="." method="post">
        {{comment_form.as_p}}
        {% csrf_token %}
        <p>
          <input type="submit" name="" id="" value = "Add comment">
        </p>
      </form>
    
      {% endif %}
  </div>

  {% endblock %}
